<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 column column-box">
	<h3>Popular Artist</h3>
	<span class="text">Find your like</span>
	<div class="artists-holder popular white-box clearfix">
		<ul>
			{foreach item=value from=$test_count_popular_songs}
			<li class="clearfix">
				<div class="img-holder pull-left">
					<a href="#">
						<img src="{$images}/{$value}.jpg" alt="">
					</a>
				</div>
				<div class="user-info">
					<a href="#">Miaow</a>
				</div>
			</li>
			{/foreach}
		</ul>
	</div>
	<button class="btn btn-default invite-friends btn-block" type="button">
		Invite your friends to join us
	</button>
</div>