<h3>New Song</h3>
<span class="text">This week</span>
<div class="popular-songs white-box clearfix">
	<ul>
		{foreach item=value from=$popular_songs}
		<li class="clearfix">
			<div class="img-holder pull-left">
				<a href="#">
					<img src="{$images}/{$value}.jpg" alt="">
				</a>
				<div class="mask">
					<a href="#" class="play-icon">
						<i class="icon-control-play"></i>		
					</a>
				</div>
			</div>
			<div class="user-info">
				<p>
					<a href="#">Miaow</a>
				</p>
				<span>
					by 
					<a href="#">
						Miaow
					</a>
				</span>
			</div>
		</li>
		{/foreach}
	</ul>
</div>