
<header id="header" class="clearfix">
	<div class="logo-holder pull-left btn-danger">
		<h1 class="logo">
			<a href="{$baseurl}/index.php">
				<i class="icon-home"></i>
				<span class="logo-text">Hi Speed</span>
			</a>
		</h1>
	</div>
	<a href="#" class="search-icon visible-xs hidden-lg hidden-sm hidden-md">
		<i class="fa fa-search"></i>
	</a>
	<div class="search-holder pull-left hidden-xs">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
			<input type="text" class="form-control" placeholder="Search for...">
		</div><!-- /input-group -->
    </div>
	<div class="cart-holder pull-right hidden-xs">
		<br>
    	<a type="button" class="btn btn-info" data-toggle="modal" data-target="#create_acc">Create Client/Party account</a>
	</div>
	<div class="mobHeadContent"></div>
</header><!-- header -->

