<div class="bodysearch-holder clearfix">
	<form id="video_search" name="video_search" method="get" action="{$baseurl}/view_invoices.php" class="video_search form-horizontal">
		<div class="form-group multiple-form-group search-advance input-group pull-right">
			
			<div class="input-group-btn input-group-select">

				<button type="submit" class="btn btn-default dropdown-toggle glyphicon glyphicon-search"></button>
			</div>
			
			<input name="cnno" value="{$smarty.get.cnno}" placeholder="cnno" type="text" class="form-control" value="">
			<input name="search" type="hidden" class="form-control">
			
			
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary btn-add" data-toggle="modal" data-target="#searchdiv">Advance Search</button>
			</span>
		</div>
	</form>
</div><!-- end of bodysearch-holder -->
	
{if $invoice_results}
<table class="table table-striped">
    <thead>
      	<tr>
	        <th>C/NNO</th>
	        <th>Date</th>
	        <th>Dest</th>
	        <th>WT/KGS</th>
	        <th>SERVICE</th>
	        <th>OCTROI</th>
	        <th>AMOUNT</th>
	        <th>ACCOUNT NUMBER</th>
	        <th>COMPANY NAMES</th>
	        <th>Action</th>
		</tr>
    </thead>
    <tbody class="tbody">
    	{foreach item=invoice_result from=$invoice_results}
      	<tr>
			<td class="cnno" id="{$invoice_result.id}_cnno" data-id="{$invoice_result.cnno}">{$invoice_result.cnno}</td>
			<td class="date" id="{$invoice_result.id}_date" data-id="{$invoice_result.date}">{date('Y-m-d',strtotime($invoice_result.date))}</td>
			<td class="dest" id="{$invoice_result.id}_dest" data-id="{$invoice_result.dest}">{$invoice_result.dest}</td>
			<td class="wt" id="{$invoice_result.id}_wt" data-id="{$invoice_result.wt}">{$invoice_result.wt}</td>
			<td class="service" id="{$invoice_result.id}_service" data-id="{$invoice_result.service}">{$invoice_result.service}</td>
			<td class="octroi" id="{$invoice_result.id}_octroi" data-id="{$invoice_result.octroi}">{$invoice_result.octroi}</td>
			<td class="amount" id="{$invoice_result.id}_amount" data-id="{$invoice_result.amount}">{$invoice_result.amount}</td>
			<td class="acno" id="{$invoice_result.id}_acno" data-id="{$invoice_result.acno}">{$invoice_result.acno}</td>
			{$result = get_clients('acno',$invoice_result.acno)}
			<td>{$result.cname}</td>
			<td>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
					<span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#" data-toggle="modal" class="edit_btn_invoice " id="{$invoice_result.id}" data-target="#edit_btn_invoice">Edit</a></li>
						<li><a href="{$baseurl}/view_invoices.php?delete_id={$invoice_result.id}">Delete</a></li>
					</ul>
				</div>
			</td>
      	</tr>
      	{/foreach}
    </tbody>
</table>
<div>
	{$pagination}
</div>
{if $smarty.get.acno}
<a class="btn btn-info" target="_blank" href="{$baseurl}/view_invoices.php?print_page=yes&acno={$smarty.get.acno}&start={$smarty.get.start}&end={$smarty.get.end}">Print Page</a>
{/if}
{else}
<h2><span class='' >No Entry Found </span></h2>
{/if}



<div class="modal fade" id="searchdiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Advance Search</h4>
			</div>
			<!-- form start -->
			<form id="video_search" name="video_search" method="get" action="{$baseurl}/view_invoices.php" class="video_search form-horizontal">
				<div class="modal-body" >
					<div class="form-group">
						<label for="cnno" class="col-sm-4 control-label">Cnno</label>
						<div class="col-sm-8">
							<input name="cnno" type="text" class="form-control" id="cnno" value='{$smarty.get.cnno}'>
						</div>
					</div>	
					<div class="form-group">
						<label for="dest" class="col-sm-4 control-label">Destination</label>
						<div class="col-sm-8">
							<input name="dest" type="text" class="form-control" id="dest" value='{$smarty.get.dest}'>
						</div>
					</div>
					<div class="form-group">
						<label for="acno" class="col-sm-4 control-label">Account Number</label>
						<div class="col-sm-8">
							<input name="acno" type="text" class="form-control" id="acno" value='{$smarty.get.acno}'>
						</div>
					</div>
					<div class="form-group">
						<label for="octroi" class="col-sm-4 control-label">OCTROI</label>
						<div class="col-sm-8">
							<input name="octroi" type="text" class="form-control" id="octroi" value="{$smarty.get.octroi}">
						</div>
					</div>
					<div class="form-group">
				        <span class="col-md-2 control-label"><strong>Date</strong></span>
				        <div class="col-md-8">
				            <div class="form-group row">
				                <label for="start" class="col-md-2 control-label">Start</label>
				                <div class="col-md-4">
				                    <input type="text" class="form-control" value="{$smarty.get.start}" name="start" id="start" placeholder="Date">
				                </div>
				                <label for="end" class="col-md-2 control-label">End</label>
				                <div class="col-md-4">
				                    <input type="text" class="form-control" value="{$smarty.get.end}" name="end" id="end" placeholder="Date">
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="modal-footer">
					<button type="submit" name="search" id="search" class="btn btn-primary">Search Form</button>
				</div>
			</form>
			<!-- from end -->
		</div>
	</div>
	
</div><!-- end of modal -->


<div id="edit_btn_invoice" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit An Invoice</h4>
			</div>
			<form id="edit_inv_form" method="POST">
				<div class="modal-body" >
					<div class="form-group">
						<label for="cnno" class="col-sm-4 control-label">Cnno</label>
						<div class="col-sm-8">
							<input name="cnno" type="text" class="form-control" id="cnno_edit_invoice" value='{$smarty.get.cnno}'>
						</div>
					</div>	
					<div class="form-group">
						<label for="dest" class="col-sm-4 control-label">Destination</label>
						<div class="col-sm-8">
							<input name="dest" type="text" class="form-control" id="dest_edit_invoice" value='{$smarty.get.dest}'>
						</div>
					</div>
					<div class="form-group">
						<label for="date" class="col-sm-4 control-label">Date</label>
						<div class="col-sm-8">
							<input name="date" type="text" class="form-control" id="date_edit_invoice" value='{$smarty.get.date}'>
						</div>
					</div>
					<div class="form-group">
						<label for="acno" class="col-sm-4 control-label">Account Number</label>
						<div class="col-sm-8">
							<input name="acno" type="text" class="form-control" id="acno_edit_invoice" value='{$smarty.get.acno}'>
						</div>
					</div>
					<div class="form-group">
						<label for="octroi" class="col-sm-4 control-label">OCTROI</label>
						<div class="col-sm-8">
							<input name="octroi" type="text" class="form-control" id="octroi_edit_invoice" value="{$smarty.get.octroi}">
						</div>
					</div>
					<div class="form-group">
						<label for="service" class="col-sm-4 control-label">Service</label>
						<div class="col-sm-8">
							<input name="service" type="text" class="form-control" id="service_edit_invoice" value="{$smarty.get.service}">
						</div>
					</div>
					<div class="form-group">
						<label for="amount" class="col-sm-4 control-label">Amount</label>
						<div class="col-sm-8">
							<input name="amount" type="text" class="form-control" id="amount_edit_invoice" value="{$smarty.get.amount}">
						</div>
					</div>
					<div class="form-group">
						<label for="wt" class="col-sm-4 control-label">Weight</label>
						<div class="col-sm-8">
							<input name="wt" type="text" class="form-control" id="wt_edit_invoice" value="{$smarty.get.wt}">
						</div>
					</div>
					<input type="hidden" name="id_edit_invoice" id="id_edit_invoice" value="" />
					<button id='edit_invoice_btn' class="btn btn-success btn-block">Edit Invoice</button>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>